@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
    <link href="~/Content/CSS/User/csstimkiem.css" rel="stylesheet" />
    <link href="~/Content/CSS/User/cssdanhmuc.css" rel="stylesheet" />
}

<div class="container-hangmoive">
    <aside class="sidebar">
        <section>
            <h2>KHOẢNG GIÁ</h2>
            <ul>
                <li><a href="#">Dưới 100.000đ</a></li>
                <li><a href="#">100.000đ - 200.000đ</a></li>
                <li><a href="#">200.000đ - 300.000đ</a></li>
                <li><a href="#">300.000đ - 500.000đ</a></li>
                <li><a href="#">Trên 500.000đ</a></li>
            </ul>
        </section>
        <section>
            <h2>THƯƠNG HIỆU</h2>
            <ul>
                <li><a href="#">Silkygirl (17)</a></li>
                <li><a href="#">Into You (26)</a></li>
                <li><a href="#">Vacosi (23)</a></li>
                <li><a href="#">Mik@vonk (17)</a></li>
                <li><a href="#">Mlen Diary (15)</a></li>
            </ul>
        </section>
    </aside>

    <div class="container-suckhoelamdep">
        <div class="header-suckhoelamdep">
            @if (ViewBag.nameCate == null)
            {
                <h1>
                    Sức Khỏe - Làm Đẹp
                </h1>
            }
            else
            {

                <h1>@ViewBag.nameCate</h1>
            }
            <span>
                (6795 sản phẩm)
            </span>
        </div>
        <div class="filters-suckhoelamdep">
            <div>
                <a>
                    Sắp xếp
                </a>
                <button class="active">
                    Mới nhất
                </button>
                <button>
                    Bán chạy
                </button>
                <button>
                    Giá thấp đến cao
                </button>
                <button>
                    Giá cao đến thấp
                </button>
            </div>
        </div>

        @if (ViewBag.nameCate == null)
        {
            <div class="sanpham-dm">
                <div class="sp-row-dm">
                    @foreach (var item in ViewBag.SPTimKiem)
                    {
                            <a href="@Url.Action("ChiTietSP","Home", new {id = item[0] })">
                                <div class="product-card">
                                    <img src="@item[6]" height="220" width="220" />
                                    <div class="product-info">
                                        <h3>@item[1]</h3>
                                        <p>@item[4]</p>
                                        <p class="price">@Convert.ToDecimal(item[2]).ToString("N0")đ<span class="old-price">@Convert.ToDecimal(item[3]).ToString("N0")đ </span> <span class="discount">@item[9]%</span></p>
                                        <div class="rating">
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                            <span class="reviews">(874)</span>
                                        </div>
                                      
                                    </div>
                                </div>
                            </a>
                    }
                </div>

            </div>
        }
        else
        {
            <div class="sanpham-dm">
                <div class="sp-row-dm">
                    @foreach (var item in ViewBag.listSPCate)
                    {
                        <a href="@Url.Action("ChiTietSP","Home", new {id = item[0] })">
                            <div class="product-card">
                                <img src="@item[6]" height="220" width="220" />
                                <div class="product-info">
                                    <h3>@item[1]</h3>
                                    <p>@item[4]</p>
                                    <p class="price">@item[3]<span class="old-price">@item[2]</span> <span class="discount">@item[9]%</span></p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        <span class="reviews">(874)</span>
                                    </div>
                                    <p class="stock">Còn 9 ngày 10:44:41</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>